{-# LANGUAGE OverloadedStrings #-}

module TestConfig where

import Data.OpenSRS.Types

testConfig :: SRSConfig
testConfig = SRSConfig "http://localhost:55443" "janedoe" "0123456789abcdef" "127.0.0.1"
